<!DOCTYPE html>
<html>
  <head>
    <title>{{ title|default("Home") }}</title>
  </head>
  <body>
{% include "header" %}
    <ul>
{% for person in people %}
      <li>
        {{ person.name|ucwords }} {% if person.age > 5 %}({{ person.age }}){% endif %}
        [{%    if person.gender == "male"    %}{{ "M" }}
         {% elsif person.gender == "female"  %}{{ "F" }}
         {% elsif person.gender == "unknown" %}{{ "U" }}
         {% else                             %}{{ "?" }}
         {% endif %}]
{% if person.hobbies %}
        <ul>
          <li><strong>Hobbies</strong></li>
{% for hobby in person.hobbies %}
          <li>{{ hobby }}</li>
{% endfor %}
        </ul>
{% endif %}
      </li>
{% endfor %}
    </ul>
{% include "footer" %}
  </body>
</html>
